.fish {
  position: absolute;
  width: 128px;
  height: 128px;
  background: #a748ab;
  border-radius: 9999px;
  opacity: 0.5;
  filter: blur(2rem);
}

@keyframes fish {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(50vw, 10vh) scale(1.2);
  }
  50% {
    transform: translate(100vw, 50vh) scale(1);
  }
  75% {
    transform: translate(50vw, 90vh) scale(0.8);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-fish {
  animation: fish 10s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}